.display-1 {
    text-align: center;
    padding: 0.5em;
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

.logo-image {
    height: 20vmin;
    margin: 2em 0 0;
}

.logo-container {
    padding: 2em 0 0;
}

.display-4 {
    font-size: 40px;
    text-align: center;
}

.text-align-center {
    text-align: center;
}



.btn-ingredient {
    margin-top: 0.5em;
}

footer {
    margin-top: 2em;
}

header {
    padding-bottom: 1em;
}

.btn-menu {
    padding: 0.3em 0.5em;
}

nav {
    padding-bottom: 1em;
}

.search-form {
    flex-grow: 1;
}

