<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/home-styles.css">

    <title>Что приготовить?</title>

</head>

<body>
    <!-- Logo and page header -->
    <div class="header-navbar__cover pb-1 rounded-bottom">
    <header class="text-center pt-2">
        <img class="logo-image" src="/static/assets/heart.svg" alt="sohungry">
        <h1 class="display-1 mb-4 p-0 d-none d-md-block">Что приготовить?</h1>
    </header>

    <!-- Навигационная панель -->
    <div class="container-fluid mb-1">
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <img src="/static/assets/menu.svg" alt="Меню">
        </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <div class="navbar-nav ml-auto">
                    {% if name %}
                    <a class="button btn btn-primary ml-0 ml-lg-2 mt-1 mt-lg-0" href="/userpage" role="button">
                    Личный кабинет
                    </a>
                    <!-- Выход - только если пользователь авторизован -->
                    <a class="button btn btn-secondary ml-0 ml-lg-2 mt-1 mt-lg-0" href="/logout" role="button">
                    Выход
                    </a>
                    {% else %}
                    <!-- Регистрация и вход - пользователь не авторизован -->
                    <a class="button btn btn-primary ml-0 ml-lg-2 mt-1 mt-lg-0" href="/register" role="button">
                    Регистрация
                    </a>
                    <a class="button btn btn-secondary ml-0 ml-lg-2 mt-1 mt-lg-0" href="/login" role="button">
                    Вход
                    </a>
                    {% endif %}
                </div>
                <!-- /navbar-nav -->
            </div>
            <!-- /collapse -->
        </nav>
    </div>
    <!-- /container-fluid -->
    </div>
    <!-- /header-navbar__cover -->

    <!-- Основной контент страницы -->
    <div class="container-fluid mt-4 m-0 p-0">
        <div class="row">
            <!-- Фильтры поиска -->
            <div class="col-md-9">
                <!-- Фильтр по ингредиентам -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnSearchIng"><i class="fas fa-search"></i></div>
                    </div>
                    <input class="mr-auto form-control p-3" type="text" id="ingredient_search" placeholder="Поиск по ингредиентам" aria-label="Поиск по ингредиентам" aria-describedby="btnSearchIng">
                </div>

                <div class="alert alert-primary alert-dismissible fade show mt-2 mb-0 pb-0" role="alert">
                    <h4>Выберите ингредиенты, которые у Вас есть</h4>
                    <p>Для этого введите название ингредиента и выберите его, нажав. Для отмены выбора, нажмите ещё раз.</p>
                    <p>Проделайте действия выше для всех ингредиентов, которые у Вас есть.</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                  

                <div class="d-flex flex-column justify-content-center">
                    <!-- Форма поиска по ингредиентам и прочим параметрам -->
                    <form action="#" method="post">
                        <div class="ingredient_buttons btn-group-toggle mt-2" data-toggle="buttons">
                            {% for ingredient in ingredients %}
                            <label for="{{ ingredient.id }}" class="btn btn-light m-1">
                                {{ ingredient.name }}
                                <input type="checkbox" name="ingredients" value="{{ ingredient.id }}">
                            </label> 
                            {% endfor %}
                        </div>
                        <!-- /btn-group -->
                        
                        <div class="alert alert-secondary alert-dismissible fade show mt-2 pb-0" role="alert">
                            <p>Уточните поиск, воспользовавшись дополнительными фильтрами ниже.</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!-- Дополнительные фильтры -->
                            <div class="navbar justify-content-between">
                                <a class="navbar-brand">Сложность</a>
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label for="easy" class="btn btn-light btn-ingredient mt-0">
                                    Легко <input type="checkbox" name="easy">
                                </label>
                                    <label for="meddif" class="btn btn-light btn-ingredient mt-0">
                                    Средне <input type="checkbox" name="meddif">
                                </label>
                                    <label for="difficult" class="btn btn-light btn-ingredient mt-0">
                                    Сложно <input type="checkbox" name="difficult">
                                </label>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /navbar -->

                            <div class="navbar justify-content-between">
                                <a class="navbar-brand">Приём</a>
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label for="breakfast" class="btn btn-light btn-ingredient mt-0">
                                    Завтрак <input type="checkbox" name="breakfast">
                                </label>
                                    <label for="dinner" class="btn btn-light btn-ingredient mt-0">
                                    Обед <input type="checkbox" name="dinner">
                                </label>
                                    <label for="supper" class="btn btn-light btn-ingredient mt-0">
                                    Ужин <input type="checkbox" name="supper">
                                </label>
                                    <label for="snack" class="btn btn-light btn-ingredient mt-0">
                                    Перекус <input type="checkbox" name="snack">
                                </label>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /navbar -->

                            <div class="navbar justify-content-between">
                                <a class="navbar-brand">Время</a>
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label for="vvfast" class="btn btn-light btn-ingredient mt-0">
                                    Очень быстро <input type="checkbox" name="vvfast">
                                </label>
                                    <label for="fast" class="btn btn-light btn-ingredient mt-0">
                                    Быстро <input type="checkbox" name="fast">
                                </label>
                                    <label for="slow" class="btn btn-light btn-ingredient mt-0">
                                    Медленно <input type="checkbox" name="slow">
                                </label>
                                    <label for="vvslow" class="btn btn-light btn-ingredient mt-0">
                                    Очень медленно <input type="checkbox" name="vvslow">
                                </label>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /navbar -->

                        <div class="d-flex justify-content-center mt-2">
                            <input class="button btn btn-primary ml-0 ml-lg-2 mt-1 mt-lg-2 pl-3 pr-3" type="submit" value="Что можно приготовить?">
                        </div>
                        <!-- /d-flex -->
                        <div>
                            {# проверка вывода рецептов #} {% csrf_token %}
                            <h2> {{ recipes }} </h2>
                        </div>
                    </form>
                    <!-- /Форма поиска по ингредиентам и прочим параметрам -->
                </div>
                <!-- /d-flex -->
            </div>
            <!-- /col-md-9 -->

            <!-- Боковая панель -->
            <div class="col-12 col-md-3 mt-4 mt-md-0">
                <div class="row">
                    <div class="col col-md-12">

                        <!-- Случайные рецепты -->
                        <div class="card mb-2">
                            <div class="card-body text-center">
                                <h5 class="card-title">Чай</h5>
                                <p>Вам понадобится:</p>
                                <p class="card-text">
                                    <ul>
                                        <li>Пакетик чая</li>
                                        <li>Сахар</li>
                                        <li>Вода</li>
                                    </ul>
                                </p>
                                <a class="btn btn-outline-secondary" href="#" role="button">
                                        Полный рецепт
                                    </a>
                            </div>
                            <!-- /card-body -->
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <div class="col col-md-12">
                        <div class="card mb-2">
                            <div class="card-body text-center">
                                <h5 class="card-title">Макароны</h5>
                                <p>Вам понадобится:</p>
                                <p class="card-text">
                                    <ul>
                                        <li>Макароны</li>
                                        <li>Соль</li>
                                        <li>Вода</li>
                                    </ul>
                                </p>
                                <a class="btn btn-outline-secondary" href="#" role="button">
                                        Полный рецепт
                                    </a>
                            </div>
                            <!-- /card-body -->
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /col -->
                    <div class="col-12 col-md">
                        <form class="form mt-1 d-flex flex-column align-items-stretch">
                            <input class="form-control pr-md-auto pl-md-auto" type="search" placeholder="Поиск по рецептам">
                            <button class="button btn btn-primary mt-1 pl-3 pr-3 mx-auto d-block" type="submit">
                                    Найти
                                </button>
                        </form>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->

            </div>
            <!-- /Боковая панель-->
        </div>
        <!-- /container -->

        <!-- Footer -->
        <div class="footer__cover rounded-top">
        <footer class="container-fluid mt-4">
            <p class="text-right pb-0 mb-0">ladybugs 2018</p>
        </footer>
        </div>
    </div>
    <!-- /Основной контент страницы -->

    
    <!-- Скрипты js -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jq_main_page.js"></script>
</body>

</html>
