<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/register-styles.css">

    <title>Регистрация | Что приготовить?</title>
</head>

<body>
<header class="text-center">
    <img class="logo-image" src="/static/assets/cake_simple.svg" alt="sohungry">
</header>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="border rounded mt-5 p-5 bg-white">
            <h2 class="display-4 text-center">Регистрация</h2>
            <form class="form-register" method="post">
                {% csrf_token %}
                <!-- Login -->
                <input type="text" id="inputLogin" class="form-control mb-1" placeholder="Логин" required
                       name="username">
                <label for="inputLogin" class="sr-only">Логин</label>
                <!-- Имя -->
                <label for="inputFName" class="sr-only">Имя</label>
                <input type="text" id="inputFName" class="form-control mb-1" placeholder="Имя" name="first_name">
                <!-- Фамилия -->
                <label for="inputLName" class="sr-only">Фамилия</label>
                <input type="text" id="inputLName" class="form-control mb-1" placeholder="Фамилия" name="last_name">
                <!-- E-mail -->
                <input type="email" id="inputEmail" class="form-control mb-1" placeholder="E-mail" required
                       name="email">
                <label for="inputEmail" class="sr-only">E-mail</label>
                <!-- Пароль -->
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control mb-1" placeholder="Пароль" required
                       name="password1">
                <!-- Подтверждение пароля -->
                <label for="inputPasswordConf" class="sr-only">Подтвердите пароль</label>
                <input type="password" id="inputPasswordConf" class="form-control mb-1" placeholder="Подтвердите пароль"
                       required name="password2">

                <!-- Submit -->
                <button class="btn btn-lg btn-primary btn-block mt-3 text-white" type="submit">Создать аккаунт</button>
            </form>
        </div> <!-- /border -->
    </div> <!-- /col#2 -->
    <div class="col"></div>
</div> <!-- /row -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>

